@font-face {font-family: "Roboto";font-weight: normal;src: url(../fonts/Roboto-Regular.ttf);}
@font-face {font-family: "Roboto";font-weight: bold;src: url(../fonts/Roboto-Bold.ttf);}
@font-face {font-family: "Roboto";font-weight: 100;src: url(../fonts/Roboto-Light.ttf);}
@font-face {font-family: "Roboto";font-style: italic;src: url(../fonts/Roboto-Italic.ttf);}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 15px; padding-right: 15px }
.row-kecil .col-xs-1, .row-kecil .col-sm-1, .row-kecil .col-md-1, .row-kecil .col-lg-1, .row-kecil .col-xs-2, .row-kecil .col-sm-2, .row-kecil .col-md-2, .row-kecil .col-lg-2, .row-kecil .col-xs-3, .row-kecil .col-sm-3, .row-kecil .col-md-3, .row-kecil .col-lg-3, .row-kecil .col-xs-4, .row-kecil .col-sm-4, .row-kecil .col-md-4, .row-kecil .col-lg-4, .row-kecil .col-xs-5, .row-kecil .col-sm-5, .row-kecil .col-md-5, .row-kecil .col-lg-5, .row-kecil .col-xs-6, .row-kecil .col-sm-6, .row-kecil .col-md-6, .row-kecil .col-lg-6, .row-kecil .col-xs-7, .row-kecil .col-sm-7, .row-kecil .col-md-7, .row-kecil .col-lg-7, .row-kecil .col-xs-8, .row-kecil .col-sm-8, .row-kecil .col-md-8, .row-kecil .col-lg-8, .row-kecil .col-xs-9, .row-kecil .col-sm-9, .row-kecil .col-md-9, .row-kecil .col-lg-9, .row-kecil .col-xs-10, .row-kecil .col-sm-10, .row-kecil .col-md-10, .row-kecil .col-lg-10, .row-kecil .col-xs-11, .row-kecil .col-sm-11, .row-kecil .col-md-11, .row-kecil .col-lg-11, .row-kecil .col-xs-12, .row-kecil .col-sm-12, .row-kecil .col-md-12, .row-kecil .col-lg-12 { padding-left: 6px; padding-right: 6px }
.form-group .col-xs-1, .form-group .col-sm-1, .form-group .col-md-1, .form-group .col-lg-1, .form-group .col-xs-2, .form-group .col-sm-2, .form-group .col-md-2, .form-group .col-lg-2, .form-group .col-xs-3, .form-group .col-sm-3, .form-group .col-md-3, .form-group .col-lg-3, .form-group .col-xs-4, .form-group .col-sm-4, .form-group .col-md-4, .form-group .col-lg-4, .form-group .col-xs-5, .form-group .col-sm-5, .form-group .col-md-5, .form-group .col-lg-5, .form-group .col-xs-6, .form-group .col-sm-6, .form-group .col-md-6, .form-group .col-lg-6, .form-group .col-xs-7, .form-group .col-sm-7, .form-group .col-md-7, .form-group .col-lg-7, .form-group .col-xs-8, .form-group .col-sm-8, .form-group .col-md-8, .form-group .col-lg-8, .form-group .col-xs-9, .form-group .col-sm-9, .form-group .col-md-9, .form-group .col-lg-9, .form-group .col-xs-10, .form-group .col-sm-10, .form-group .col-md-10, .form-group .col-lg-10, .form-group .col-xs-11, .form-group .col-sm-11, .form-group .col-md-11, .form-group .col-lg-11, .form-group .col-xs-12, .form-group .col-sm-12, .form-group .col-md-12, .form-group .col-lg-12 { padding-left: 8px; padding-right: 8px }
.row { margin-left: -15px; margin-right: -15px; }
.row-kecil .row { margin-left: -6px; margin-right: -6px; }
.form-horizontal .form-group { margin-left: -8px; margin-right: -8px; }
.container { padding-left: 15px; padding-right: 15px; }

body { font-family: 'Roboto',Arial; }
/*a { color: #7F4124; }*/
a:hover { text-decoration: none; }

ul, ol { padding-left: 25px; }
h1,h2 { margin-bottom: 18px; }
h1,h2,h3,h4,h5 { font-weight: 100; }

hr { margin: 20px 0; }
.hr-kecil { margin: 10px 0; }
.mfp-wrap, .mfp-bg { z-index: 2900; }

.text-abu { color: #e6e6e6; }
.text-success { color: #39AC6D; }
.text-primary { color: #1E85AE; }
.text-warning { color: #DA8820; }
.text-info { color: #00CCCC; }
.badge { font-family: 'Roboto',Arial; }

.label-kuning,
.badge-kuning {
  background-color: #D1B200;
  color: #FFFFFF;
}

/* header */
.navbar .icon-profil { padding: 10px 0 0 0; height: 50px; }
.navbar .icon-profil a { padding: 0 10px 0; min-height: 0; }
.navbar .icon-profil a .fa-2x { margin: 0; }

.navbar .profil-user { color: #777; margin: 4px 0 0 0; padding: 15px; min-width: 200px; line-height: 1.4; border-bottom: 5px solid #FFD700; }
.navbar .profil-user h4 { font-weight: bold; font-size: 16px; margin-bottom: 15px; padding: 0; }
.navbar .profil-user hr { border-top: 1px solid rgba(221, 221, 221, 0.6); margin: 10px 0; margin-left: -5px; margin-right: -5px; }
.navbar .profil-user img { width: 100px; margin: 10px auto; display: block; text-align: center; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; }
.navbar .profil-user small { color: #8F8F8F; }
.navbar .profil-user a { color: #23527c; font-size: 12px; padding: 0; min-height: 0; }
.navbar .profil-user a:hover { color: #2F6FA7; }

.dropdown-menu.pull-right:before { left: auto; right: 12px; }
.dropdown-menu.pull-right:after { left: auto; right: 13px; }
.dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}

/* section/konten ----------------------------- */
.head-konten { margin: 0; padding: 0; }
.head-konten h3 { margin: 0 0 15px; padding: 0; /*font-size: 26px;*/ letter-spacing: -1px; }
.head-konten:after { clear: both; }
.head-konten .form-inline { margin-bottom: 10px; }

/* button */
.btn { font-weight: normal; }
.btn .fa-lg { line-height: 0.5em; }
.input-group .btn { padding: 6px 12px; }
.btn-sm, .btn-group-sm>.btn, .btn { box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -webkit-border-radius: 0; }
.btn-lg, .btn-group-lg>.btn { box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -webkit-border-radius: 0; }
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:active:focus, .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus { background-color: #f5f5f5; }
.btn-success { background-color: #007399; border-color: #007399; }

/* tabel */
.table th { font-size: 13px; height: 40px; font-weight: normal; color: #fff; background-color: #000000; }
.table td { font-size: 12px; vertical-align: middle; border-top: none; }
.table h5 { padding: 0; margin: 0 0 3px; font-size: 14px; font-weight: bold; line-height: 1.4; }
.table hr { margin: 5px 0; }
.table .aksi { width: 34px; color: #bbb; text-align: center; }
.panel>.table-responsive>.table-bordered>thead>tr:first-child>th { border-bottom: 2px solid #ddd; }
.table-striped>tbody>tr:nth-of-type(odd) { background-color: #FFF9FF; }
.table-hover>tbody>tr:hover { background-color: #F9EFD7; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { vertical-align: middle; }
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th { padding: 4px; }
.table>thead>tr>th { padding: 6px; }
.table>tbody>tr>td>p { margin-bottom: 0; }

.table .th { height: 0; }
.table .td-input { padding: 3px; }
.table .td-input input { border: 1px solid #76ADAD; padding: 2px 4px; font-size: 13px; width: 100%;}
.table .td-kecil { padding: 2px; font-size: 11px; text-align: center; background-color: #f5f5f5; }
.table .td-kecil b { padding: 0 4px; font-weight: normal; border-left: 1px solid #aaa; border-right: 1px solid #aaa; border-radius: 6px; }

/* foto dalam tabel */
.foto-tabel { position: relative; width: 100%; margin: 0 auto; }
.foto-tabel img { width: 100%; }
.foto-tabel .tombol-foto-tabel { width: 100%; display: none; position: absolute; top: 50%; margin-top: -15px; padding: 5px 0; background-color: rgba(0, 0, 0, 0.5); text-align: center; }
.foto-tabel:hover img { opacity: 0.8; }
.foto-tabel:hover .tombol-foto-tabel { display: block; }

/* tabel responsive */
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:first-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:first-child, .panel>.table:first-child>thead:first-child>tr:first-child td:first-child, .panel>.table:first-child>thead:first-child>tr:first-child th:first-child { border-top-left-radius: 0; }
.panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table-responsive:first-child>.table:first-child>thead:first-child>tr:first-child th:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child td:last-child, .panel>.table:first-child>tbody:first-child>tr:first-child th:last-child, .panel>.table:first-child>thead:first-child>tr:first-child td:last-child, .panel>.table:first-child>thead:first-child>tr:first-child th:last-child { border-top-right-radius: 0; }
.table>thead>tr>td.success, .table>tbody>tr>td.success, .table>tfoot>tr>td.success, .table>thead>tr>th.success, .table>tbody>tr>th.success, .table>tfoot>tr>th.success, .table>thead>tr.success>td, .table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th { background-color: #F7FFFB; }
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td { border-top: 1px solid #eee; }

/* tabel detail */
.table-profil { width: 100%; font-size: 13px; }
.table-profil>tbody>tr { border-bottom: 1px solid #eee; }
.table-profil>tbody>tr:last-child { border-bottom: none; }
.table-profil>tbody>tr>td { padding: 5px 2px; }
.table-profil>tbody>tr>td.labels { font-weight: bold; width: 200px; }

/* paging */
.panel .paging { padding: 10px 10px 8px 14px; min-height: 50px; }
.panel .paging span { margin: 3px 0 0 0; display: inline-block; font-size: 15px; font-weight: 100; color: #333; }
.pagination { border-radius: 0; }
.pagination .fa-lg { line-height: 0.50em }
.pagination>li>a, .pagination>li>span { color: #186B8C; }
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span { border-radius: 0; }
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span { border-radius: 0; }
.pagination-sm { margin: 0; }
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { background-color: #26677D; border-color: #26677D; color: #fff; }

/* tabs
.tab-content { padding: 0; }
.nav-tabs { border-bottom: 4px solid #44A5C5; }
.nav-tabs>li>a { padding: 8px 12px; border-radius: 0; font-size: 14px; font-weight: 100; background-color: #26677D; color: #fff; border-color: transparent; margin-right: 1px; }
.nav-tabs>li>a:hover { background-color: #44A5C5; color: #fff; border-color: #44A5C5; }
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { background-color: #44A5C5; color: #fff; border-color: #44A5C5; }
.tab-content>.tab-isi { padding: 15px; border: 1px solid #D2DFDF; font-size: 13px; }
.tab-content>.tab-pane { padding: 15px 0; }
*/

/* form */
.form-group .cekbox { padding: 8px 12px 3px 8px; border: 1px solid #CCCCCC; border-bottom: 3px solid #E3E3E3; margin-top: 0; }
.form-group .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] { margin-left: -16px; margin-top: 5px; }
.form-group .radio-inline+.radio-inline, .checkbox-inline+.checkbox-inline { margin-left: 0; }
.form-group .radio label, .form-group .checkbox label { margin-right: 16px; padding-left: 2px; font-weight: normal; }
.form-control { border: 1px solid #CCCCCC; border-bottom: 3px solid #E3E3E3; height: auto; box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -webkit-border-radius: 0; }
.form-control:focus { border: 1px solid #D66161; border-bottom: 3px solid #D66161; box-shadow: none; -webkit-box-shadow: none; }
.panel-form select, .modal-body select  { -webkit-appearance: none; -moz-appearance: none; appearance: none; background: #fff url(../img/combo.png) no-repeat right center; }

.file-caption-name { overflow: inherit; }
.btn-file { cursor: pointer; }
.input-group-addon { background-color: #4988EB; color: #fff; border: none; border-radius: 0; padding: 6px 8px; }
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn { border-radius: 0; -webkit-border-radius: 0; }

/* form pencarian */
.form-cari .panel-body { padding: 8px 14px; }
.form-cari .form-group { margin-bottom: 4px; }
.form-cari .control-label { font-size: 12px; font-weight: normal; padding-top: 2px; }
.form-cari .form-control { font-size: 12px; padding: 2px 4px; height: auto; border: 1px solid #E19D9D; }
.form-cari .form-inline .form-group { margin: 0 15px 0 0; }
.form-cari .form-inline label { font-size: 12px; font-weight: normal; padding-right: 4px; }
.has-cari .form-control { border-color: #FF8C00; }
input[type=search] { -webkit-appearance: searchfield; }

/* feedback validasi form */
.form-error, .has-error .help-block, .has-error .control-label { margin: 4px 0 0; font-size: 12px; color: #B11031; }
.has-error .form-control { border-color: #E47272; color: #555; box-shadow: none; -webkit-box-shadow: none; }
.has-error .form-control:focus {  border-color: #CE2727; color: #555; box-shadow: none; -webkit-box-shadow: none; }
.has-error .form-control-feedback { color: #E47272; }
.has-error .input-group-addon { color: #fff; background-color: #76ADAD; }
.has-error .checkbox-inline, .has-error .radio-inline { color: #008080; }
.has-success .form-control { border: 1px solid #76ADAD; border-bottom: 3px solid #B6D2D2; color: #555; box-shadow: none; -webkit-box-shadow: none; }
.has-success .form-control:focus { border: 1px solid #76ADAD; border-bottom: 3px solid #B6D2D2; color: #555; box-shadow: none; -webkit-box-shadow: none; }
.has-success .form-control-feedback { color: #2CB52C; }
.has-success .input-group-addon { color: #fff; background-color: #76ADAD; }
.has-success .checkbox, .has-success .checkbox-inline, .has-success .control-label, .has-success .help-block, .has-success .radio, .has-success .radio-inline, .has-success.checkbox label, .has-success.checkbox-inline label, .has-success.radio label, .has-success.radio-inline label { color: #444; }
.has-feedback .form-control { padding-right: 12px; }
.form-control-feedback { display: inline-block; position: static; height: inherit; width: 30px; }
.form-horizontal .form-control-feedback { position: absolute; }
.form-horizontal .has-feedback .form-control-feedback { right: 5px; }
.form-horizontal .has-feedback label~.form-control-feedback { top: 5px; }

.note-editor { min-height: 120px; }
.note-editor .note-toolbar .btn { padding: 3px 8px; }

#cek_captcha { font-size: 24px; font-weight: bold; }
#captcha { width: 30% }

/* modal */
.modal { z-index: 1050; }
.modal-header { background-color: #004157; border-bottom: 2px solid #ddd; padding: 12px 15px; }
.modal-header .close { margin: 0; color: #ddd; }
.modal-header .close .fa { font-size: 16px; }
.modal-title { color: #fff; }
.modal-footer { background-color: #F5F5F5; padding: 8px; text-align: left; }
.modal-content { border-radius: 0; -webkit-border-radius: 0; box-shadow: none; -webkit-box-shadow: none; }
.modal_konf_hapus { width: 250px; margin: auto auto; }
.modal_konf_hapus .modal-footer { text-align: center; padding: 12px; }
.modal_konf { width: 300px; margin: auto auto; }
.modal_konf .fa-5x, .modal_konf_hapus .fa-5x { color: #FFC379; margin-bottom: 15px; }
.modal_konf p, .modal_konf_hapus p { font-size: 16px; font-weight: 100; margin-bottom: 0; }
.modal_konf .modal-footer { text-align: center; }

.modal-body label { margin: 0; font-size: 13px; font-weight: bold; margin-bottom: 2px; }
.modal-body .form-group { margin-bottom: 10px; }
.modal-body .form-control { padding: 4px 7px; font-size: 13px; }
.modal-body .form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline { padding: 0 0 3px 20px; }
.modal-body .form-group hr { margin-top: 10px; margin-left: -7px; margin-right: -7px; border-top: 1px solid #ccc; }

.modal-besar, .modal-sedang, .modal-kecil { margin: 25px auto; }
.modal-backdrop.in { filter: alpha(opacity=80); opacity: 0.8; }

.modal-body+.modal-footer { padding: 8px; }
.modal-header+.modal-body { padding: 20px; }

/* panel */
.panel .table { margin-bottom: 0; border-bottom: 1px solid #ddd; }
.panel .toolbar { padding: 5px; height: 45px; }
.panel { box-shadow: none; -webkit-box-shadow: none; border-radius: 0; -webkit-border-radius: 0; }
.panel-default { border-color: #D2DFDF; }
.panel-default>.panel-heading, .panel-footer { background-color: #E7EEEE; color: #008080; border-color: #D2DFDF; border-radius: 0; -webkit-border-radius: 0; }
.panel-success { border-color: #269C26; }

.panel-form { margin: 0 auto 10px; float: none; }
.panel-form h2 { margin-bottom: 15px; }
.panel-form .form-group { margin-bottom: 10px; }
.panel-form label { margin-bottom: 0; color: #008080; }
.panel-form label small { font-weight: normal; color: #888; }
.panel-form p { margin: 0; }
.panel-form .navbar { border: none; }

.panel-form .nav-pills>li>a { text-align: center; color: #444; background-color: #fff; border: 1px solid #ccc; padding: 4px 2px; margin-bottom: 6px; border-radius: 50%; -webkit-border-radius: 50%; font-size: 18px; font-weight: normal; width: 30px; height: 30px; line-height: 20px; }
.panel-form .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus { color: #fff; border: none; background-color: #1B789D; }
.panel-form .nav-pills:before { top: 15px; bottom: 0; position: absolute; content: " "; width: 100%; height: 1px; background-color: #ccc; z-order: 0; }
.panel-form .nav-pills>li { width: 33.33%; padding: 0 5px; text-align: center; margin-left: 0; font-weight: 100; font-family: 'Roboto',Arial; }
.panel-form .nav>li>a { display: inline-block; }

.panel-form .panel { margin-bottom: 0; }
.panel-form .pager { border: 1px solid #ddd; margin: 0; padding: 5px; background-color: #EEF3F3; }
.panel-form .pager li { width: 0; }

.panel-file { margin-bottom: 15px; }
.panel-file .panel-body { padding: 5px 8px 8px; text-align: center; }
.panel-file .panel-body .fa-4x { display: block; margin-bottom: 5px; }
.panel-file .panel-body small { display: block; margin-bottom: 8px; font-size: 11px; }

.panel-lined, .panel-default, .panel-primary, .panel-success, .panel-info, .panel-warning, .panel-danger {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 0.2s ease-in;
  -o-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* list-group */
.list-group-item { padding: 7px 10px; }
.list-group-item small { font-style: italic; color: #777; }
.list-group-item h5 { margin: 0; font-weight: bold; line-height: 1.4; }
.list-group-item:first-child { border-radius: 0; }
.list-group-item:last-child { border-radius: 0; }

/* thumbnail menu depan */
.thumbnail { padding: 10px; text-align: center; border-radius: 0; margin-bottom: 10px; font-size: 20px; font-weight: 100; text-transform: uppercase; line-height: 1.2; padding: 10px 15px; border: none; border: 1px solid #E1EAEA; background-color: #F9FBFB; transition: all 0.8s ease; }
.thumbnail .fa-3x { margin-bottom: 15px; font-size: 4em; color: #008B8B; text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2); }
.thumbnail p { margin: 0; color: #A52A2A; }
.thumbnail .thmb-angka { position: absolute; top: 0; right: 16px; background-color: #F0E68C; border-bottom-left-radius: 20px; color: #fff; padding: 4px 12px; font-size: 54px; font-weight: 100; }
.thumbnail:hover { background-color: #CFE2E3; }

/* popover & tooltip */
.popover { font-family: 'Roboto',Arial; border-radius: 0; max-width: 200px; }
.popover h3 { font-weight: bold; }
.popover-content { font-size: 13px; }

.tooltip { z-index: 4009; }
.tooltip-inner { background-color: #114D64; border-radius:0; }
.tooltip.top .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.top-left .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.top-right .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.right .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.left .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.bottom .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.bottom-left .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }
.tooltip.bottom-right .tooltip-arrow { border-top-color: #114D64; border-bottom-color: #114D64; }

/* summernote */
.note-editor .note-toolbar { padding: 0 0 5px 5px; }
.note-popover .popover .popover-content, .note-toolbar { padding: 0 0 5px 5px; }

/* Loading animasi */
.pace .pace-activity { top: -38px; left: 210px; }
.animasi-backdrop {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2100 !important;;
   background-color: rgba(0, 0, 0, 0.8);
   filter: alpha(opacity=80);
}
.animation-besar {
   position: fixed;
   top: 50%;
   width:100%;
   z-index: 99 !important;;
   text-align: center;
}
.animation-besar div {
   height:15px;
   width:8px;
   background-color: #00BFFF;
   display:inline-block;
   margin-right:4px;
   -webkit-animation: animation5-bar 1s infinite;
   animation: animation5-bar 1s infinite;
}
.animation-besar p { color: #fff; margin-top: 10px; margin-bottom: 0; }
.animation-besar .bar1 { -webkit-animation-delay: 0.5s; animation-delay: 0.5s; }
.animation-besar .bar2 { -webkit-animation-delay: 0.6s; animation-delay: 0.6s; }
.animation-besar .bar3 { -webkit-animation-delay: 0.7s; animation-delay: 0.7s; }
.animation-besar .bar4 { -webkit-animation-delay: 0.8s; animation-delay: 0.8s; }
.animation-besar .bar5 { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; }
@-webkit-keyframes animation5-bar
{
   30% { -webkit-transform: scaleY(2); }
}
@keyframes animation5-bar
{
   30% { transform: scaleY(2); }
}

/* alert & warning */
.alert { padding: 8px 30px 8px 10px; color: #ddd; font-family: 'Roboto',Arial; font-size: 12px; border-radius: 0; position: fixed; z-index: 99; margin: 0; width: 270px; bottom: 20px; right: 20px; box-shadow: none; }
.alert .fa { margin-top: 8px; font-size: 1.8em; }
.alert b { font-size: 16px; }
.close { color: #fff; opacity: 1; }
.alert-dismissable { padding-right: 30px; }
.alert-success { background-color: rgba(46, 139, 87, 0.8); color: #eee; border-color: transparent; }
.alert-danger { background-color: rgba(178, 34, 34, 0.8); color: #eee; border-color: transparent; }
.alert-warning { background-color: rgba(230, 149, 0, 0.8); color: #eee; border-color: transparent; }
.alert-info { background-color: rgba(29, 165, 158, 0.8); color: #eee; border-color: transparent; }
.alert { border-left: 4px solid #2f4050; }

.eror_404 { margin: 50px 0 70px; text-align: center; }
.eror_404 h1 { font-size: 80px; color: #CC0000; }
.eror_404 h1 i { font-size: 70px; color: #FF8C00; }

.btn-pemberitahuan { padding: 2px 18px 3px 4px; }
.btn-pemberitahuan .fa-2x { font-size: 1.8em; }
.panel-default>.panel-heading .btn-pemberitahuan>.badge { background-color: #FF0000; color: #fff; font-size: 10px; position: absolute; top: -1px; right: -1px; border-radius: 0; }


/* laporan */
.panel-laporan { background-color: #eee; }
.wrap-laporan { max-width: 1140px; max-height: 430px; overflow: auto; margin: 15px auto 10px; }
#laporan { background-color: #fff; font-family: Arial; color: #333; margin: 0 auto; border: 1px solid #bbb; border-bottom: 3px solid #bbb; border-right: 3px solid #bbb; }
.lap-a4-potrait { width: 21cm; padding: 1.5cm; }
.lap-a4-landscape { width: 29.7cm; padding: 1.5cm; }
.lap-legal-potrait { width: 21.6cm; padding: 1.5cm; }
.lap-legal-landscape { width: 35.5cm; padding: 1.5cm; }
#printarea h1 { font-size: 30px; margin: 0 0 15px; color: #333; font-weight: bold; }
#printarea h2 { font-size: 22px; margin: 0 0 8px; color: #333; font-weight: bold; }
#printarea h3 { font-size: 20px; margin: 0 0 6px; color: #333; font-weight: bold; }
#printarea h4 { font-size: 16px; margin: 0 0 4px; color: #333; font-weight: bold; }
#printarea h5 { font-size: 14px; margin: 0 0 4px; color: #333; font-weight: bold; }
#printarea hr { margin: 25px 0; border: 0; border-bottom: 1px solid #333; }
#printarea .laporan-head { position: relative; text-align: center; margin-bottom: 30px; }
#printarea .laporan-head img { float: left; width: 90px; position: absolute; left: 5px; }
#printarea .laporan-isi table { width: 100%; font-size: 12px; }
#printarea .laporan-isi table th { padding: 4px 6px; background-color: #eee; border: 1px solid #aaa; text-align: center; text-transform: uppercase; }
#printarea .laporan-isi table td { padding: 4px 6px; border: 1px solid #aaa; }
#printarea .laporan-isi table tr.no-heading th { font-size: 10px; padding: 2px; background-color: #ddd; }


/* footer ------------------------------------- */

.page-footer { padding: 10px 20px; background-color: #FFFFFF; border-top: 1px solid #dee2e8; }

.ke-atas { display: none; position: fixed; right: 15px; bottom: 0; margin: 0; padding: 2px 10px 8px; line-height: 1.6; background-color: #D2691E; color: #fff; text-align: center; }
.ke-atas:hover { background-color: #E27E36; color: #fff; }
.ke-atas .fa { font-size: 2em; }


/* STYLE untuk INSPINIA ADMIN */
body { background-color: #FFFFFF; }
.navbar-fixed-top, .navbar-static-top { background-color: #FFFFFF; }
.navbar-top-links li:last-child { margin-right: 28px; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: transparent; }
.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts { width: 230px; }
.dropdown .dropdown-menu li a { padding: 2px 5px; }
.dropdown-menu > li > a { line-height: 14px; }
.dropdown-menu {  border-bottom: 5px solid #FFB904; }
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover { background-color: transparent; color: #729825; }
.link-block { padding: 5px; }
.nav.navbar-top-links .link-block a { font-size: 16px; }

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #18a689;
  color: white;
}

.metismenu > li > a { color: #fff; font-weight: normal; border-bottom: 1px solid rgba(119, 119, 119, 0.6); }
.nav-second-level > li > a { border-bottom: none; }
.mini-navbar .nav-second-level { background-color: #18a689; }
.metismenu > li.active { border-left: 4px solid #FFD700; background: #18a689 none repeat scroll 0% 0%; }

.nav-header { padding: 25px 10px; background: url("../img/header.png") repeat; }
.profile-element { text-align: center; line-height: 1.2; }
.profile-element img { width: 105px; }
.profile-element h2 { margin: 5px 0 0; color: #FFD700; font-size: 18px; font-family: "Trebuchet MS", Helvetica, sans-serif; font-style: italic; font-weight: bold; }
.logo-element { padding: 12px 0; }
.logo-element img { height: 30px; }

.minimalize-styl-2 { margin: 5px 5px 5px 14px; font-size: 24px; }

.navbar-fixed-top, .navbar-static-top { -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1); -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1); box-shadow: 0 5px 5px -5px rgba(0,0,0,.1); }
.page-heading { padding: 16px 24px 5px; border-bottom: 1px solid #dee2e8; }
.skin-1 .img-circle { border-radius: 50%; }
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td { background-color: #000000; }
.btn-default { background-color: #afafaf; color: #444; }
.modal-body { padding: 15px; }

.nav > li > a { font-weight: 100; font-size: 14px; padding: 10px 15px; text-transform: uppercase; }
.nav > li.active > a { padding-left: 11px; }

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus { background-color: #fff; border-top: 2px solid #FFD700; }

.tabs-container .nav-tabs > li a:hover { background-color: #e6e6e6; }

.nav-tabs > li > a { background-color: #eee; padding: 6px 14px; font-size: 16px; text-transform: none; }
.nav-tabs > li > a i { margin: 0; }
.nav > li > a i { margin-right: 4px; }

body.mini-navbar .sidebar-collapse .nav > li > a i { margin: 0; }
body.mini-navbar .sidebar-collapse .nav > li > a { padding-left: 21px; }
body.mini-navbar .sidebar-collapse .nav > li.active > a { padding-left: 17px; }
.nav-second-level li a { font-weight: 100; color: #fff; font-size: 13px; padding: 3px 8px; padding-left: 27px; text-transform: none; }
.nav-second-level li a:before { content: "\f101"; font-family: 'FontAwesome'; font-size: inherit; padding-right: 5px; }
body.mini-navbar .navbar-default .nav > li > .nav-second-level li a { font-size: 13px; padding: 5px 8px; border-radius: 0; }
.metismenu .fa.arrow:before { content: "\f105"; }
table.issue-tracker tbody tr td { height: 45px; }
.issue-info a { color: #337AB7; font-weight: normal; font-size: 14px; }

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default, .btn-default:active:focus, .btn-default:active:hover, .btn-default.active:hover, .btn-default.active:focus { color: #8B0000; }

body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level { min-width: 250px; }
.navbar-top-links li a { padding: 5px 10px 15px; min-height: 0; }
.count-info .label { top: -3px; font-size: 10px; }
.wrapper-content { padding: 20px 5px 60px; }

/*.white-bg { background-color: #fafafa; }*/
.footer { background-color: #FFFFFF; border-top: 1px solid #D8E0E8; }
.label { font-family: Arial, Helvetica, sans-serif; font-size: larger; }

.widget { padding: 15px 20px; font-size: 15px; }
.widget h3 { margin-bottom: 0; font-size: 32px; }
/*.widget h1 { font-size: 35px; color: #fff; letter-spacing: -2px; }
.widget h1 small { color: #eee; }
.widget a { color: #fff; }
.widget a:hover { color: #8EEAEB; }*/

/* style hendra */
.dropdown-tahun { min-width: 80px; }
.dropdown .dropdown-tahun li a { padding: 12px 8px; font-size: 16px; font-weight: bold; border-bottom: 1px solid #EBEBEB; border-radius: 0; margin: 0; text-align: center; }
.dropdown .dropdown-tahun li.disabled a { color: #D6B600; }
.media-foto { display: block; width: 100%; height: 220px; background-size: cover; background-position: center center; }

/* Google MAP */
#map-canvas .firstHeading, #peta .firstHeading { border-bottom: 1px solid #ddd; font-weight: bold; padding-bottom: 10px; color: #005C7A; }
#map-canvas .label-map, #peta .label-map { background-color: #F73F3F; padding: 2px 5px; color: #fff; text-align: center; font-size: 13px; }
#bodyContent { line-height: 1.2; }
#bodyContent table>tbody>tr>th { padding: 4px; }
#bodyContent table>tbody>tr>td { padding: 4px; }

/* custom select2 */
.select2-container { width: 100% !important;}
.select2-container--default .select2-selection--single { border-radius: 0;    border: 1px solid #b5b5b5; }
.select2-container .select2-selection--single { height: auto; }

/* responsif ---------------------------------- */

@media (min-width: 200px) {
   /* header */
   .navbar-right { float: right!important; margin-right: 15px; }
   .head-konten .btn { float: none; margin-bottom: 10px; }
   .head-konten h3 { display: block; }

   /* section */
   h4 { font-size: 15px; }
   h3 { font-size: 20px; }
   .panel-form h2 { font-size: 20px; }
   .panel-form .nav-pills>li { font-size: 12px; }
   .panel-form label { font-size: 13px; }
   .panel-form label small { font-size: 11px; }
   .form-control { font-size: 12px; }
   .lead { font-size: 16px; }
   .modal-kecil { width: 95%; }
   .modal-sedang { width: 95%; }
   .modal-besar { width: 95%; }

   /*.nav-tabs>li>a { margin-right: 1px; padding: 6px 10px; border-bottom: none; font-size: 14px; text-transform: none; }*/
}
@media (min-width: 480px) {
   /* header */
   .navbar-right { float: right!important; }
   .head-konten .btn { float: right !important; margin-bottom: 0; }
   .head-konten h3 { display: inline-block; }

   /* section */
   h4 { font-size: 17px; }
   h3 { font-size: 20px; }
   .panel-form h2 { font-size: 26px; }
   .panel-form .nav-pills>li { font-size: 13px; }
   .panel-form label { font-size: 14px; }
   .panel-form label small { font-size: 12px; }
   .form-control { font-size: 12px; }
   .lead { font-size: 16px; }
   .modal-kecil { width: 400px; }
   .modal-sedang { width: 96%; }
   .modal-besar { width: 96%; }

   /*.nav-tabs>li>a { margin-right: 1px; padding: 6px 10px; border-bottom: none; font-size: 14px; text-transform: none; }*/
}
@media (min-width: 768px) {
   /* header */
   .navbar-right { float: right!important; }

   /* section */
   h4 { font-size: 17px; }
   h3 { font-size: 20px; }
   .panel-form .nav-pills>li { font-size: 15px; }
   .panel-form label { font-size: 15px; }
   .panel-form label small { font-size: 13px; }
   .lead { font-size: 19px; }
   .modal-kecil { width: 400px; }
   .modal-sedang { width: 750px; }
   .modal-besar { width: 97%; }
   .modal-body { max-height: 480px; overflow-y: auto; }

   .container { width: 100%; }
   /*.nav-tabs>li>a { margin-right: 1px; padding: 6px 10px; border-bottom: none; font-size: 14px; text-transform: none; }*/
}
@media (min-width: 992px) {
   /* header */
   .navbar-right { float: right!important; margin-right: -15px; }

   /* section */
   h3 { font-size: 24px; }
   .container { width: 100%; }
   .modal-besar { width: 950px; }
}
@media (min-width: 1200px) {
   .modal-besar { width: 1150px; }
   /* section */
}